
<html>
<head>
    <title>Perfil</title>

    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <link href="~/Content/PerfilCSS.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">

        var carregarPerfil = true;

        var qualImg = "";

        window.onload = function()
        {
            document.getElementById("secEscolherFoto").style.display = "none";
            document.getElementById("escolherNovaFoto").style.display = "none";
            
            CarregarDadosBD();
        }

        function CarregarDadosBD()
        {
            var xmlhttp = new XMLHttpRequest();
            //IMAGEM
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");

            document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";

            if (xmlhttp.readyState == 404)
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type=\"image\" src='/Imagens/imgPerfil.jpg' onclick=\"CarregarPerfil()\">";

            document.getElementById("escolherNovaFoto").innerHTML = " <img id='btnFotoPerfil' src=" + qualImg + " onclick='TrocarFoto()'>";
        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        //TROCAR FOTO

        function TrocarFoto() {
            if (window.confirm("Deseja trocar sua foto de perfil?"))
            {
                //$("#sectionLogin").submit(function (e) {
                //    e.preventDefault();
                //    alert("nao vou submitar");
                //});

                document.getElementById("secEscolherFoto").style.display = "block";
                document.getElementById("escolherNovaFoto").style.display = "block";
                //document.getElementById("loginSection").preventDefault();
            }
            else {
                document.getElementById("secEscolherFoto").style.display = "none";
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
            }
        }

        function CarregarArquivoEscolhido()
        {
            document.getElementById("secEscolherFoto").style.display = "none";
            alert("Salve as mudanças feitas para carregar a foto escolhida!");
            //var input = document.getElementById("arquivoEscolhido");

            //var foto = input.files[0].name;
    
            //input.addEventListener("change", function(){
            //if(input.files.length > 0) nome = input.files[0].name;
            //input.innerHTML = ""; });

            ////document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src='/Imagens/" + foto + " onclick='CarregarPerfil()'>";
            ////document.getElementById("escolherNovaFoto").innerHTML = " <img id='btnFotoPerfil' src=" + foto + " onclick='TrocarFoto()'>";

            //document.getElementById("secEscolherFoto").style.display = "none";

            //qualImg = "/Imagens/" + foto;

            //alert(qualImg);
        }

        function CarregarFotoEscolhida(a)
        {
            document.getElementById("secEscolherFoto").style.display = "none";
            document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + a + " onclick='CarregarPerfil()'>";
            document.getElementById("escolherNovaFoto").innerHTML = " <img id='btnFotoPerfil' src=" + a + " onclick='TrocarFoto()'>";

            document.getElementById("secEscolherFoto").style.display = "none";
            
            qualImg = "/Imagens/" + (a.split('/'))[4];
            alert(qualImg);
            document.getElementById("tagInvisivel").value = qualImg;
        }

        function Erro() {
            document.getElementById("invisivel").submit();
        }

        function VerificarSenhaAtual()
        {
            if (@ViewBag.UsuarioLogado.senha != document.getElementById("senhaAtual").value)
            {
                alert("Preencha o campo da senha atual corretamente");
                document.getElementById("senhaAtual").value = "";
                document.getElementById("senhaAtual").focus();
                return false;
            }
            return true;
        }

        function VerificarSenhas() {
            if (VerificarSenhaAtual()) {
                if (document.getElementById("senhaNova").value == document.getElementById("confirmaSenha").value)
                    document.getElementById("btnOkay").style.display = "block";
                else {
                    alert("As senhas dadas não são iguais!");
                    document.getElementById("confirmaSenha").value = "";
                }
            }
            else
                document.getElementById("senhaAtual").focus();
        }

        function SubmitTrocarSenha()
        {
            document.getElementById("frmTrocarSenha").submit();
        }

        function TrocarSenha()
        {
            if (document.getElementById("frmTrocarSenha").style.display == "block")
            {
                document.getElementById("frmTrocarSenha").style.display = "none";
                document.getElementById("senhaAtual").value = "";
                document.getElementById("senhaNova").value = "";
                document.getElementById("confirmaSenha").value = "";
            }              
            else
                document.getElementById("frmTrocarSenha").style.display = "block";
        }

    </script>
</head>
<body>
    <header>
        <nav id="navHeader">
            <ul>
                <a id="home" href="~/Home/Index">HOME</a>
                <a id="principal" href="~/Principal/Index">PRINCIPAL</a>
                <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                <a id="contato" href="~/Contato/Index">CONTATO</a>
            </ul>
        </nav>


        <div id="opcoesFotos">

        </div>

    </header>

    <form id="invisivel" method="post" action="/Perfil/Erro"></form>

    @*<section id="secEscolherFoto">
        Escolha uma foto para o seu Perfil!
        <br><br>

        <img class="exImg" src="~/Imagens/paisagem1.jpg" onclick="CarregarFotoEscolhida(this.src)">
        <img class="exImg" src="~/Imagens/paisagem2.jpg" onclick="CarregarFotoEscolhida(this.src)">
        <img class="exImg" src="~/Imagens/paisagem3.jpg" onclick="CarregarFotoEscolhida(this.src)">
        <img class="exImg" src="~/Imagens/paisagem4.jpg" onclick="CarregarFotoEscolhida(this.src)">
        <img class="exImg" src="~/Imagens/paisagem5.jpg" onclick="CarregarFotoEscolhida(this.src)">
        <img class="exImg" src="~/Imagens/paisagem6.jpg" onclick="CarregarFotoEscolhida(this.src)">

        <br><br>
        @*<label for="arquivoEscolhido">Selecionar arquivo da foto</label>*@
        @*<input type="file" accept="image/*" onchange="CarregarArquivoEscolhido()" id="arquivoEscolhido" style="display: none" name="upload">
        <br><br>
    </section>*@

    <form action="/Perfil/SalvarDados" enctype="multipart/form-data" method="post" id="loginSection">
        <br><br>
        <div id="escolherNovaFoto">
            <img id="btnFotoPerfil" src="@ViewBag.UsuarioLogado.imagem" onclick='TrocarFoto()'>
        </div>

        <input name="u.imagem" id="tagInvisivel" style="visibility:hidden" value="@ViewBag.UsuarioLogado.imagem">


        <h1>Seus dados:</h1><br>

        <div>
            <label class="login" for="username2">Username: </label>
            <input class="loginInput" id="username2" type="text" required pattern=".{6,15}" title="De 6 a 10 caracteres" name="u.nome" value="@ViewBag.UsuarioLogado.nome">
        </div><br><br>

        <div>
            <label class="login" for="email">Email: </label>
            <input class="loginInput" id="email" type="email" required name="u.email" value="@ViewBag.UsuarioLogado.email">
        </div><br><br>


        <div>
            <label class="login" for="aniversario">Data Nascimento: </label>
            <input class="loginInput" type="date" id="data" name="u.dataNascimento" class="datepicker" pattern="^\d{2}/\d{2}/\d{4}$" required value="@ViewBag.UsuarioLogado.dataNascimento.Year-@ViewBag.UsuarioLogado.dataNascimento.Month-@ViewBag.UsuarioLogado.dataNascimento.Day">
        </div><br><br>

        <section id="secEscolherFoto" enctype="multipart/form-data">
            Escolha uma foto para o seu Perfil!
            <br><br>

            <img class="exImg" src="~/Imagens/paisagem1.jpg" onclick="CarregarFotoEscolhida(this.src)">
            <img class="exImg" src="~/Imagens/paisagem2.jpg" onclick="CarregarFotoEscolhida(this.src)">
            <img class="exImg" src="~/Imagens/paisagem3.jpg" onclick="CarregarFotoEscolhida(this.src)">
            <img class="exImg" src="~/Imagens/paisagem4.jpg" onclick="CarregarFotoEscolhida(this.src)">
            <img class="exImg" src="~/Imagens/paisagem5.jpg" onclick="CarregarFotoEscolhida(this.src)">
            <img class="exImg" src="~/Imagens/paisagem6.jpg" onclick="CarregarFotoEscolhida(this.src)">

            <br><br>
            <label for="arquivoEscolhido">Selecionar arquivo da foto</label>
            <input type="file" id="arquivoEscolhido" style="display: none" onclick="CarregarArquivoEscolhido()" name="upload">
            <br><br>
        </section>

        @*<input type="file" name="upload" />*@
        <input class="cBtn" id="btnSalvar" type="submit" value="Salvar dados" />
        <br />
    </form>
            @*<form id="loginSection" method="post" action="/Perfil/SalvarDados">
                    <br><br>
                    <div id="escolherNovaFoto">
                        <img id="btnFotoPerfil" src="@ViewBag.UsuarioLogado.imagem" onclick='TrocarFoto()'>
                    </div>

                    <input name="u.imagem" id="tagInvisivel" style="visibility:hidden" value="@ViewBag.UsuarioLogado.imagem">


                    <h1>Seus dados:</h1><br>

                    <div>
                        <label class="login" for="username2">Username: </label>
                        <input class="loginInput" id="username2" type="text" required pattern=".{6,15}" title="De 6 a 10 caracteres" name="u.nome" value="@ViewBag.UsuarioLogado.nome">
                    </div><br><br>

                    <div>
                        <label class="login" for="email">Email: </label>
                        <input class="loginInput" id="email" type="email" required name="u.email" value="@ViewBag.UsuarioLogado.email">
                    </div><br><br>


                    <div>
                        <label class="login" for="aniversario">Data Nascimento: </label>
                        <input class="loginInput" type="date" id="data" name="u.dataNascimento" class="datepicker" pattern="^\d{2}/\d{2}/\d{4}$" required value="@ViewBag.UsuarioLogado.dataNascimento.Year-@ViewBag.UsuarioLogado.dataNascimento.Month-@ViewBag.UsuarioLogado.dataNascimento.Day">
                    </div><br><br>

                    <button type="submit" class="cBtn" id="btnSalvar">Salvar dados</button>

                </form>*@

            <h1 id="trocarSenha" onclick="TrocarSenha()"><b><u>Quero trocar minha senha</u></b></h1>

            <form id="frmTrocarSenha" method="post" action="/Perfil/TrocarSenha" style="display: none">
                <div id="divTrocarSenha">
                    <i class="fa fa-times fa-w-14 fa-2x" id="icones" onclick="TrocarSenha()"></i><br>
                    <u><label class="lblTrocarSenha"> Trocar de Senha </label></u><br>
                    <label class="lblSenhas">Senha atual: </label><input id="senhaAtual" class="lblSenhas" type="password" onchange="VerificarSenhaAtual()" required><br>
                    <label class="lblSenhas">Senha nova: </label><input id="senhaNova" class="lblSenhas" type="password" required><br>
                    <label class="lblSenhas">Confirmação: </label><input id="confirmaSenha" class="lblSenhas" type="password" onchange="VerificarSenhas()" name="u.senha" required><br><br>
                    <button class="cBtn" id="btnOkay" onclick="SubmitTrocarSenha()" style="display: none">OK</button>
                </div>
            </form>

    </body>
</html>
