
@*simpfrc@unicamp.br*@

<html>
<head>
    <title>Principal</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/PrincipalCSS.css" rel="stylesheet" type="text/css">
    @*<script src="https://unpkg.com/axios/dist/axios.min.js"></script>*@
    <script type="text/javascript">

        var qualImg = "";

        window.onload = function () {

            CarregarNoticias();

            document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=\"/Imagens/imgPerfil.jpg\" onclick=\"CarregarPerfil()\">";

            CarregarDadosBD();
        }

        function CarregarNoticias()
        {
            var cont = 0;
            var noti = "";
            var re = "";
            while (cont < @ViewBag.QuantasNot) {
                noti = noti + " <section class='cNoticia'><div class='cTitulo'>Titulo</div><br><div class='cImagem'>Imagem</div><br><div class='cLink'>Link</div></section>";
                document.getElementById("sectionPrincipal").innerHTML = noti;

                re = re + "<div class='eventoSemana'><label class='data'></label></div>";
                document.getElementById("sectionLeft").innerHTML = re;

                cont++;
            }
            BuscaNoticia();
        }



        function CarregarDadosBD() {
            //IMAGEM
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");

            document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";

            //EVENTOS
            var cont = 0;
            var re = "";
            while (cont < @ViewBag.QuantosEventos)
            {
                re = re + "<div class='eventoSemana'><label class='data'> </label><div class='descricao'></div><div class='localizacao'></div></div>";
                document.getElementById("sectionLeft").innerHTML = re;

                cont++;
            }

            BuscaEvento();
        }

          function BuscaNoticia() {

            var lista = @Html.Raw(Json.Encode(@ViewData["noticias"]));

            var qualIndice = Math.floor(Math.random() * @ViewBag.QuantasNot);
            var jaFoiExibido = "";

            for (var cont = 0; cont < @ViewBag.QuantasNot; cont++)
            {
                while (jaFoiExibido.includes(qualIndice)) //se for 1 ou 10 dá erradoooo
                    qualIndice = Math.floor(Math.random() * @ViewBag.QuantasNot);

                jaFoiExibido += "," + qualIndice;

                document.getElementsByClassName("cTitulo")[cont].innerHTML = JSON.stringify(lista[qualIndice].manchete)
                document.getElementsByClassName("cImagem")[cont].innerHTML = JSON.stringify(lista[qualIndice].imagem);
                document.getElementsByClassName("cLink")[cont].innerHTML = JSON.stringify(lista[qualIndice].link);
            }
          }

        function BuscaEvento() {

            var lista = @Html.Raw(Json.Encode(@ViewData["eventos"]));

            @*var qualIndice = Math.random() * (@ViewBag.QuantosEventos - 0);*@

            for (var cont = 0; cont < @ViewBag.QuantosEventos; cont++)
            {
                document.getElementsByClassName("data")[cont].textContent = JSON.stringify(lista[cont].quando);
                document.getElementsByClassName("localizacao")[cont].innerHTML = JSON.stringify(lista[cont].descricao);
                document.getElementsByClassName("descricao")[cont].innerHTML = JSON.stringify(lista[cont].localizacao);
            }
        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg  + " onclick='CarregarPerfil()'><div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<br><br><a id ='homeV' href='~/Home/Index'>HOME</a><br><br>" +
                    "<a id ='principalV' href='~/Principal/Index'>PRINCIPAL</a><br><br>" +
                    "<a id ='loginNavV' href='~/Login/Index'>LOGIN</a><br><br>" +
                    "<a id ='cadastroV' href='~/Cadastro/Index'>CADASTRE-SE</a><br><br>" +
                    "<a id ='contatoV' href='~/Contato/Index'>CONTATO</a><br><br>" +
                    "<a id ='configV' href='~/Perfil/Index'>PERFIL</a><br><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        function Parabens() {
            if (document.getElementById("parabens").style.display == "block") {
                document.getElementById("parabens").style.display = "none";
            }
            else {
                document.getElementById("parabens").style.display = "block";
            }
        }

        function MostrarAgenda() {
            if (document.getElementById("secAgenda").style.display == "block") {
                var a = "";

                document.getElementById("secAgenda").innerHTML = a;

                document.getElementById("secAgenda").style.display = "none";
            }
            else {
                document.getElementById("secAgenda").style.display = "block";
            }
        }

        //COMEÇO DO WEB SERVICE



        //FIM DO WEB SERVICE
    </script>
</head>
<body >
    <header>
        
        <form id="menu" method="post">
            <nav id="navHeader">
                <ul>                   
                    <a id="home" href="~/Home/Index">HOME</a>
                    <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                    <a id="contato" href="~/Contato/Index">CONTATO</a>
                    <a id="perfil" href="~/Perfil/Index">PERFIL</a>


                </ul>
            </nav>
            </form>
            <div id="opcoesFotos">

            </div>

    </header>

    <button id="btnAgenda" onclick="MostrarAgenda()">VER AGENDA</button>

    <section id="secAgenda">
        AEEEE

        <div id="calendario">
            <table>
                <tr>
                    <td class="diaSemana">D</td>
                    <td class="diaSemana">S</td>
                    <td class="diaSemana">T</td>
                    <td class="diaSemana">Q</td>
                    <td class="diaSemana">Q</td>
                    <td class="diaSemana">S</td>
                    <td class="diaSemana">S</td>
                </tr>

                <tr>
                    <td class="dias">a<span>1</span></td>
                    <td class="dias">2</td>
                    <td class="dias">3</td>
                    <td class="dias">4</td>
                    <td class="dias">5</td>
                    <td class="dias">6</td>
                    <td class="dias">7</td>
                </tr>

            </table>
        </div>

    </section>

    <section id="sectionLeft">
        <label class="lbl">Semana</label>

        <!-- <div class="realizacoes">
        <label>Realizações</label>
    </div>-->

    </section>

    <section id="sectionRight">
        <label class="lbl">Sonhos</label>

        <div id="chkSonhos">
            <input type="checkbox">Adotar um cachorro<br>
        </div>

    </section>

    <section id="sectionPrincipal"></section>

    <section id="parabens">
        <div id="lblParabens">Parabéns !! </div><br><br>
        <div id="lblVoceRealizouUmSonho">Você realizou um sonho !!</div>
        <button id="btnParabens" onclick="Parabens()">OK</button>
    </section>

</body>
</html>
