<html>
<head>
    <title>Principal</title>
    <link rel="shortcut icon" href="~/Imagens/icons/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <link href="~/Content/PrincipalCSS.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">

        var qualImg = "";

        window.onload = function () {
            document.getElementById("adicionarEvento").style.display = "none";
            document.getElementById("adicionarSonho").style.display = "none";
            document.getElementById('divExcluirEvento').style.display = "none";

            CarregarNoticias();
            CarregarDadosBD();
        }

        function CarregarNoticias()
        {
            var cont = 0;
            var noti = "";
            var re = "";
            while (cont < 11) {
                noti = noti + "<section class='cNoticia'><img id='carregandoImagem' src='/Imagens/carregandoImagem.png'></section>";
                document.getElementById("sectionPrincipal").innerHTML = noti;

                cont++;
            }
            var conteudos = ["Amor", "Animais", "ONGS", "Notícias boas", "Caridade", "Boas ações"];
            var qualConteudo = 0;
            while (qualConteudo < conteudos.length)
            {
                var noti = "";
                $.post("Principal/PegarNoticia", {
                    url: "https://news.google.com/rss/search?q=" + conteudos[qualConteudo] + "&hl=pt-BR&gl=BR&ceid=BR:pt-419"
                }, function (resposta) {
                    var r = resposta;
                    r = r.split("<item><title>");

                    for (var i = 1; i < (r.length) / 6; i++) {
                        var tudo = r[i];
                        var t = tudo.split("</title><link>");
                        var l = t[1].split("</link>");

                        noti += "<section class='cNoticia'><div class='cTitulo'>" + t[0] + "</div><br><div class='cImagem'></div><br><a href=" + l[0] + " class='cLink'>" + l[0] + "</a></section>";
                        document.getElementById("sectionPrincipal").innerHTML = noti;
                    }
                    })

                qualConteudo++;
            }
        }



        function CarregarDadosBD() {
            //IMAGEM
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");

            document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";

            //EVENTOS
            var cont = 0;
            var a = "<label class='semana'>Semana</label><button class='btnMais' onclick='AdicionarEvento()'>+</button>";
            document.getElementById("sectionLeft").innerHTML = a;
            var re = "";
            while (cont < @ViewBag.QuantosEventos)
            {
                re = re + "<div class='eventoSemana'><label class='data'></label><div class='descricao'></div><div class='localizacao'></div></div>";
                document.getElementById("sectionLeft").innerHTML = a + re;

                cont++;
            }

            BuscaEvento();

            //SONHOS
            cont = 0;
            var a = "<label class='semana'>Sonhos</label><button class='btnMais' onclick='AdicionarSonho()'>+</button>";
            document.getElementById("sectionRight").innerHTML = a;
            var s = "";
            while (cont < @ViewBag.QuantosSonhos)
            {
                s = "<div class='divSonho'><input name='nameChkSonho' onchange='Parabens()' type='checkbox' class='inputSonhos'><label class='chkSonhos'></label></div><br><br>";
                document.getElementById("sectionRight").innerHTML += s;

                cont++;
            }

            BuscaSonho();
        }

        function BuscaEvento() {

            var lista = @Html.Raw(Json.Encode(@ViewData["eventos"]));


            for (var cont = 0; cont < @ViewBag.QuantosEventos; cont++)
            {
                document.getElementsByClassName("eventoSemana")[cont].innerHTML += " <i class='fa fa-times fa-w-14 fa-2x' id='iconeExcluirEvento' onclick='ExcluirEvento("+ lista[cont].id +")'></i>";
                document.getElementsByClassName("data")[cont].textContent = JSON.stringify(lista[cont].dia).split('"')[1] + "," + JSON.stringify(lista[cont].diaSemana).split('"')[1];
                document.getElementsByClassName("localizacao")[cont].innerHTML = JSON.stringify(lista[cont].localizacao).split('"')[1];
                document.getElementsByClassName("descricao")[cont].innerHTML = JSON.stringify(lista[cont].descricao).split('"')[1];
            }
        }

        function BuscaSonho()
        {
           var lista = @Html.Raw(Json.Encode(@ViewData["sonhos"]));

            for (var cont = 0; cont < @ViewBag.QuantosSonhos; cont++)
            {
                document.getElementsByClassName("chkSonhos")[cont].innerText = lista[cont].descricao;
            }
        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<img id='ImgCoracao' src='/Imagens/coracao.png'>" + "<label id='lblPontuacao'>" + @ViewBag.UsuarioLogado.pontuacao + "</label>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        function Parabens() {
            var i = 0;

            while (i <= document.getElementsByName("nameChkSonho").length) {
                if (document.getElementsByClassName("inputSonhos")[i].checked == true) {
                    if (document.getElementById("parabens").style.display == "block") {
                        document.getElementById("parabens").style.display = "none";
                    }
                    else {
                        document.getElementById("parabens").style.display = "block";
                    }
                    document.getElementsByClassName("inputSonhos")[i].disabled = true;
                    document.getElementById("lblPontuacao").value = document.getElementsByClassName("chkSonhos")[i].innerHTML; 
                }

                i++;
            }       
           
        }

        function MostrarAgenda() {
            if (document.getElementById("secAgenda").style.display == "block")
                document.getElementById("secAgenda").style.display = "none";
            else
                document.getElementById("secAgenda").style.display = "block";
        }

        function AdicionarEvento() {
            if (document.getElementById("adicionarEvento").style.display == "block")
                document.getElementById("adicionarEvento").style.display = "none";
            else
                document.getElementById("adicionarEvento").style.display = "block";
        }

        function AdicionarSonho() {
            if (document.getElementById("adicionarSonho").style.display == "block")
                document.getElementById("adicionarSonho").style.display = "none";
            else
                document.getElementById("adicionarSonho").style.display = "block";
        }
        
        function Erro()
        {
            document.getElementById("invisivel").submit();
        }

        function ExcluirSonho() {
            document.getElementById('parabens').style.display = "none";
            document.getElementById("invisivelSalvar").submit();
        }

        function ExcluirEvento(qualId)
        {
            document.getElementById("idExcluirEvento").value = qualId;
            document.getElementById("divExcluirEvento").style.display = "block";
        }

    </script>
</head>
<body>
    <header>

        <form id="menu" method="post">
            <nav id="navHeader">
                <ul>
                    <a id="home" href="~/Home/Index">HOME</a>
                    <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                    <a id="contato" href="~/Contato/Index">CONTATO</a>
                    <a id="perfil" href="~/Perfil/Index">PERFIL</a>
                </ul>
            </nav>
        </form>
        <div id="opcoesFotos">

        </div>

    </header>

    <section id="sectionLeft"></section>

    <form id="invisivel" method="post" action="/Principal/Erro"></form>

    <form id="invisivelSalvar" method="post" action="/Principal/Salvar">
        <input id="lblPontuacao" name="sonho.descricao" type="text" style="display: none">
    </form>



    <form method="post" action="/Principal/AdicionarEvento">
        <div id="adicionarEvento">

            <i class="fa fa-times fa-w-14 fa-2x" id="icones" onclick="AdicionarEvento()"></i>

            <br>
            <label>Adicionar Evento</label><br><br>
            <label class="lbl"> Data: </label><input id="diaEvento" type="text" name="not.dia"><br><br>
            <label class="lbl"> Descrição: </label><input id="descricaoEvento" type="text" name="not.descricao"><br><br>
            <label class="lbl"> Localização: </label><input id="localizacaoEvento" type="text" name="not.localizacao"><br><br>
            <button id="btnAdicionarEvento">Ok</button>
        </div>
    </form>


    <form method="post" action="/Principal/ExcluirEvento">
        <div id="divExcluirEvento">
            <i class="fa fa-times fa-w-14 fa-2x" id="icones" onclick="document.getElementById('divExcluirEvento').style.display = 'none'"></i>

            <br>
            <label>Tem certeza que deseja excluir esse evento?</label><br><br>
            <input  type="text" id="idExcluirEvento" name="eve.id" style="display: none">
            <button id="btnExcluirEvento" onclick="document.getElementById('divExcluirEvento').style.display = 'none'">Ok</button>
            </div>
    </form>

    <form method="post" action="/Principal/AdicionarSonho">
        <div id="adicionarSonho">
            <i class="fa fa-times fa-w-14 fa-2x" id="icones" onclick="AdicionarSonho()"></i>
            <br>
            <label>Adicionar Sonho</label><br><br>
            <label class="lbl"> Descrição: </label><input id="descricaoSonho" type="text" name="sonho.descricao"><br><br>
            <button id="btnAdicionarEvento">Ok</button>
        </div>
    </form>

    <section id="sectionRight"></section>

    <section id="sectionPrincipal"></section>

    <section id="parabens">
        <div id="lblParabens">Parabéns !! </div><br><br>
        <div id="lblVoceRealizouUmSonho">Você realizou um sonho !!</div>
        <button id="btnParabens" onclick="ExcluirSonho()">OK</button>
    </section>

</body>
</html>
