@*simpfrc@unicamp.br*@

<html>
<head>

    <title>Principal</title>

    <link rel="shortcut icon" href="~/Imagens/icons/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <link href="~/Content/PrincipalCSS.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">

        var qualImg = "";

        window.onload = function () {
            CarregarNoticias();
            $.post("Principal/PegarNoticia", {
                url: "https://news.google.com/rss/search?q="+"animais"+"&hl=pt-BR&gl=BR&ceid=BR:pt-419"
            }, function (resposta) {
                alert(resposta);
                })
            document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=\"/Imagens/imgPerfil.jpg\" onclick=\"CarregarPerfil()\">";
            document.getElementById("adicionarEvento").style.display = "none";
            document.getElementById("adicionarSonho").style.display = "none";

            CarregarDadosBD();
        }

        function CarregarNoticias()
        {
            var cont = 0;
            var noti = "";
            var re = "";
            while (cont < @ViewBag.QuantasNot) {
                noti = noti + " <section class='cNoticia'><div class='cTitulo'>Titulo</div><br><div class='cImagem'>Imagem</div><br><div class='cLink'>Link</div></section>";
                document.getElementById("sectionPrincipal").innerHTML = noti;

                cont++;
            }
            BuscaNoticia();
        }



        function CarregarDadosBD() {
            //IMAGEM
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");

            document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";

            //EVENTOS
            var cont = 0;
            var re = "<label class='semana'>Semana</label><button class='btnMais' onclick='AdicionarEvento()'>+</button>";
            while (cont < @ViewBag.QuantosEventos)
            {
                re = re + "<div class='eventoSemana'><label class='data'> </label><div class='descricao'></div><div class='localizacao'></div></div>";
                document.getElementById("sectionLeft").innerHTML = re;

                cont++;
            }

            BuscaEvento();

            //SONHOS
            cont = 0;
            var s = "<label class='semana'>Sonhos</label><button class='btnMais' onclick='AdicionarSonho()'>+</button>";

            while (cont < @ViewBag.QuantosSonhos)
            {
                s = s + "<div class='divSonho'><input type='checkbox' class='inputSonhos'><label class='chkSonhos'></label></div><br><br>";
                document.getElementById("sectionRight").innerHTML = s;

                cont++;
            }

            BuscaSonho();
        }

        function BuscaNoticia()
        {
            var lista = @Html.Raw(Json.Encode(@ViewData["noticias"]));

            var qualIndice = Math.floor(Math.random() * @ViewBag.QuantasNot);
            var jaFoiExibido = "";

            for (var cont = 0; cont < @ViewBag.QuantasNot; cont++)
            {
                var vet = jaFoiExibido.split(',');
                for (var i = 0; i < vet.length; i++)
                {
                    if (vet[i] == qualIndice)
                        qualIndice = Math.floor(Math.random() * @ViewBag.QuantasNot);
                    else
                        jaFoiExibido += "," + qualIndice;
                }
                @*while (jaFoiExibido.includes(qualIndice)) //se for 1 ou 10 dá erradoooo
                    qualIndice = Math.floor(Math.random() * @ViewBag.QuantasNot);

                jaFoiExibido += "," + qualIndice;*@

                document.getElementsByClassName("cTitulo")[cont].innerHTML = JSON.stringify(lista[qualIndice].manchete).split('"')[1];
                document.getElementsByClassName("cImagem")[cont].innerHTML = JSON.stringify(lista[qualIndice].imagem).split('"')[1];
                document.getElementsByClassName("cLink")[cont].innerHTML = JSON.stringify(lista[qualIndice].link).split('"')[1];
            }
        }

        function BuscaEvento() {

            var lista = @Html.Raw(Json.Encode(@ViewData["eventos"]));


            for (var cont = 0; cont < @ViewBag.QuantosEventos; cont++)
            {
                document.getElementsByClassName("data")[cont].textContent = JSON.stringify(lista[cont].dia).split('"')[1] + "," + JSON.stringify(lista[cont].diaSemana).split('"')[1];
                document.getElementsByClassName("localizacao")[cont].innerHTML = JSON.stringify(lista[cont].localizacao).split('"')[1];
                document.getElementsByClassName("descricao")[cont].innerHTML = JSON.stringify(lista[cont].descricao).split('"')[1];
            }
        }

        function BuscaSonho()
        {
           var lista = @Html.Raw(Json.Encode(@ViewData["sonhos"]));

            for (var cont = 0; cont < @ViewBag.QuantosSonhos; cont++)
            {
                document.getElementsByClassName("chkSonhos")[cont].innerText = lista[cont].descricao;
            }
        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        //function Parabens() {
        //    if (document.getElementById("parabens").style.display == "block") {
        //        document.getElementById("parabens").style.display = "none";
        //    }
        //    else {
        //        document.getElementById("parabens").style.display = "block";
        //    }
        //}

        function MostrarAgenda() {
            if (document.getElementById("secAgenda").style.display == "block")
                document.getElementById("secAgenda").style.display = "none";
            else
                document.getElementById("secAgenda").style.display = "block";
        }

        function AdicionarEvento() {
            if (document.getElementById("adicionarEvento").style.display == "block")
                document.getElementById("adicionarEvento").style.display = "none";
            else
                document.getElementById("adicionarEvento").style.display = "block";
        }

        function AdicionarSonho() {
            if (document.getElementById("adicionarSonho").style.display == "block")
                document.getElementById("adicionarSonho").style.display = "none";
            else
                document.getElementById("adicionarSonho").style.display = "block";
        }

        function Erro()
        {
            document.getElementById("invisivel").submit();
        }

        //COMEÇO DO WEB SERVICE



        //FIM DO WEB SERVICE
    </script>
</head>
<body>
    <header>

        <form id="menu" method="post">
            <nav id="navHeader">
                <ul>
                    <a id="home" href="~/Home/Index">HOME</a>
                    <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                    <a id="contato" href="~/Contato/Index">CONTATO</a>
                    <a id="perfil" href="~/Perfil/Index">PERFIL</a>
                </ul>
            </nav>
        </form>
        <div id="opcoesFotos">

        </div>

    </header>

    @*<button id="btnAgenda" onclick="MostrarAgenda()">VER AGENDA</button>*@

    <section id="secAgenda">
        AEEEE

        <div id="calendario">
            <table>
                <tr>
                    <td class="diaSemana">D</td>
                    <td class="diaSemana">S</td>
                    <td class="diaSemana">T</td>
                    <td class="diaSemana">Q</td>
                    <td class="diaSemana">Q</td>
                    <td class="diaSemana">S</td>
                    <td class="diaSemana">S</td>
                </tr>

                <tr>
                    <td class="dias">a<span>1</span></td>
                    <td class="dias">2</td>
                    <td class="dias">3</td>
                    <td class="dias">4</td>
                    <td class="dias">5</td>
                    <td class="dias">6</td>
                    <td class="dias">7</td>
                </tr>

            </table>
        </div>

    </section>

    <section id="sectionLeft"></section>

    <form id="invisivel" method="post" action="/Principal/Erro">
        </form>

    <form method="post" action="/Principal/AdicionarEvento">
        <div id="adicionarEvento">
            @*<button id="btnFecharNovoEvento" onclick="AdicionarEvento()"><i class="fa fa-times fa-w-14 fa-2x"></i></button>*@
            <i class="fa fa-times fa-w-14 fa-2x" id="icones" onclick="AdicionarEvento()"></i>

            <br>
            <label>Adicionar Evento</label><br><br>
            <label class="lbl"> Data: </label><input id="diaEvento" type="text" name="not.dia"><br><br>
            <label class="lbl"> Descrição: </label><input id="descricaoEvento" type="text" name="not.descricao"><br><br>
            <label class="lbl"> Localização: </label><input id="localizacaoEvento" type="text" name="not.localizacao"><br><br>
            <button id="btnAdicionarEvento">Ok</button>
        </div>
    </form>

    <form method="post" action="/Principal/AdicionarSonho">
        <div id="adicionarSonho">
            <i class="fa fa-times fa-w-14 fa-2x" id="icones" onclick="AdicionarSonho()"></i>
            <br>
            <label>Adicionar Evento</label><br><br>
            <label class="lbl"> Descrição: </label><input id="descricaoSonho" type="text" name="sonho.descricao"><br><br>
            <button id="btnAdicionarEvento">Ok</button>
        </div>
    </form>

    <section id="sectionRight"></section>

    <section id="sectionPrincipal"></section>

    @*<section id="parabens">
            <div id="lblParabens">Parabéns !! </div><br><br>
            <div id="lblVoceRealizouUmSonho">Você realizou um sonho !!</div>
            <button id="btnParabens" onclick="Parabens()">OK</button>
        </section>*@

</body>
</html>
